<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.hsmw.semestermanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SemesterplanInput"
            android:label="Neues Semester">
            <intent-filter>
                <action android:name="de.hsmw.semestermanager.SemesterplanInput" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SemesterplanView"
            android:label="Semesterplan">
            <intent-filter>
                <action android:name="de.hsmw.semestermanager.SemesterplanView" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ModulInput"
            android:label="Neues Modul">
            <intent-filter>
                <action android:name="de.hsmw.semestermanager.ModulInput" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ModulView"
            android:label="Modul">
            <intent-filter>
                <action android:name="de.hsmw.semestermanager.ModulView" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TerminInput"
            android:label="Neuer Termin">
            <intent-filter>
                <action android:name="de.hsmw.semestermanager.TerminInput" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DayView"
            android:label="Tagesview"
            android:theme="@style/AppTheme.SwypeBar">
            <intent-filter>
                <action android:name="de.hsmw.semestermanager.DayView" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TerminView"
            android:label="TerminView">
            <intent-filter>
                <action android:name="de.hsmw.semestermanager.TerminView" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExceptionInput"
            android:label="Wer das liest ist doof.">
            <intent-filter>
                <action android:name="de.hsmw.semestermanager.ExceptionInput" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>